@font-face {
    font-family: IRANSansX;
    src: url('../fonts/IRANSansXFaNum-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: IRANSansX;
}

.form-control{
    margin-bottom: 8px;
}

label{
    margin-bottom: 8px;
}

a{
    color: #2b2f32;
    text-decoration: none;
}
a:hover{
    color: #0d6efd;
}
.navy-blue{
    color:white;
    background-color: #071952;
}
.teal{
    color:#088395;
    border-color: #088395;
    background-color: white;
}
.teal:hover{
    color:white;
    background-color: #088395;
}
.form-btn{
    color:white;
    border-color: #088395;
    background-color: #088395;
}
.form-btn:hover{
    color:#088395;
    background-color: white;
    border-color: #088395;
}
@media screen and (min-width:480px) and (max-width: 768px)  {
    .login-desktop{
        display: none;
    }
}
@media screen and (min-width:1024px)  {
    .login-mobile{
        display: none;
    }
}

:disabled{
    color: #718096;
}
.bg-teal{
    background-color: #088395;
}
.bg-lightgreen{
    background-color: #64CCC5;
}
.btn-lightgreen{
    background-color: white;
    border-color: #1AACAC;
    color: #1AACAC;
}
.btn-lightgreen:hover{
    background-color: #1AACAC;
    border-color: #1AACAC;
    color: white;
}
.link-teal{
    color:#088395;
}
.link-teal:hover{
    color: black;
}

.link-red{
    color: #C70039;
}
.link-red:hover{
    color: black;
}

.btn-danger:hover{
    background-color: white;
    color: #dc3545;
    border-color: #dc3545;
}
.fa-solid {
    font-size: 20px;
}
#response-body{
    display: none;
}
